input[type=text].auth {
    width: 60%; 
    padding: 1.5%; 
    border: 2px solid;
    border-color: lightblue; 
    border-radius: 4px;
    outline: none;
    background-color: gainsboro;
}

input[type=text].auth:hover {
    border-color: blue;
    background-color: white;
}

input[type=text].auth:focus {
    border-color: blue;
    background-color: white;
}

input[type=submit].auth {
    background-color: aqua;
    border: 2px solid;
    border-color: blue;
    border-radius: 4px;
    cursor: pointer;
    padding: 1.5%;
}

input[type=submit].auth:hover {
    border-color: blue;
    background-color: greenyellow;
}
