<!DOCTYPE html>

<html>

  <head>
    <title> CREATING MODE </title>
  </head>

  <body>
    {{ error }}
    <p>
      <form action="/logout">
        <input type="submit" value="Logout"></input>
      </form>
        <form action="/home">
          <input type="submit" value="Back"></input>
      </form>
    </p>

    <h1>Hanabi - Powered by WeLoveTrees</h1>
    <h3>Creating Mode!</h3>
    <br>
    <form action="/create" method="POST">
      <label for="title">Title:</label>
      <input type="text" name="title" size="20"></input>
      <br><br>
      <label for="story">Story:</label>
      <textarea name="story" placeholder="Edit the story here"></textarea>
      <input type="submit" value="Save"></input>
  </form>

  </body>

</html>