<!DOCTYPE html>

<html>

  <head>
    <title> CREATING MODE </title>
  </head>

  <body>
    <p>
      <form action="/logout">
        <input type="submit" value="Logout"></input>
      </form>
      <form action="/home">
        <input type="submit" value="Back"></input>
      </form>
    </p>

    <h1>Hanabi - Powered by WeLoveTrees</h1>
    <h3>Creating Mode!</h3>
    <br>
    <!-- Idk what u guys have but if you want to render only ongoing or only completed stories too go for it-->
    <form action="/placeholder">
        <input type="text" value="STORY NAME" size=20></input>
    </form>
    <br>
    <form action="/placeholder">
        <input type="text" value="STORY TEXT" size=90></input>
        <input type="submit" value="Save"></input>
    </form>

  </body>

</html>