<html>

  <head>
    <title> PAGE </title>
  </head>

  <body>
    <p>
      <form action="/logout">
        <input type="submit" value="Logout"></input>
        <input type="submit" value="Back"></input>
      </form>
    </p>

    <h1>Hanabi - Powered by WeLoveTrees</h1>
    <h3>{{ ARTICLE_TITLE }}</h3>
    <br>
    <p>{{ display }}</p>

    <form action="/like"></form>
      <input type="submit" name="like"> <!-- THE TEXT BOX FOR WRITING (idt we can make it bigger w/o css oops)-->
    </form>
 
  </body>

</html>