<html>

  <head>
    <title> PAGE </title>
  </head>

  <body>
    <p>
      <form action="/logout">
        <input type="submit" value="Logout"></input>
      </form>
      <form action="/stories">
        <input type="submit" value="Back"></input>
      </form>
    </p>

    <h1>Hanabi - Powered by WeLoveTrees</h1>
    <h3>{{ ARTICLE_TITLE }}</h3>
    <br>
    <p>{{ display }}</p>
    <br>
    <form action="/{{story_id}}/edit/">
      <input type="submit" value="Edit"></input>
    </form>
 
  </body>

</html>