<!DOCTYPE html>

<html>

  <head>
    <title> PAGE </title>
  </head>

  <body>
    <p>
      <form action="/logout">
        <input type="submit" value="Logout"></input>
        <input type="submit" value="Back"></input>
    </p>

    <h1>Hanabi - Powered by WeLoveTrees</h1>
    <h3>ARTICLE TITLE</h3>
    <br>
    <!-- RENDER PREVIEW-->
    <button>Mark as Complete</button> <!-- AUTHORS ONLY -->
    <button>Create New</button> <!--IF STORY IS NOT COMPLETED, RENDER A TEXT BOX-->
    <br>
    <input type="text" name="search"> <!-- THE TEXT BOX FOR WRITING (idt we can make it bigger w/o css oops)-->
  
  </body>

</html>