<!DOCTYPE html>

<html>

  <head>
    <title> EDITING MODE </title>
  </head>

  <body>
    <p>
			{{error}}
      <form action="/logout">
        <input type="submit" value="Logout"></input>
      </form>
			<form action="/">
        <input type="submit" value="Back"></input>
      </form>
    </p>

    <h1>Hanabi - Powered by WeLoveTrees</h1>
    <h3>Editing Mode!</h3>
    <br>
    <form action="/{{story_id}}/edit/" method="POST">
			  <p>Title: <b>{{title}}</b>
    		<br>
          Here is the previous addition:
          <br>
          <br>
          {{prev}}
          <br>
        {% if not edited %}
          <label for="story">Story Addition:</label>
          <textarea name="story" placeholder="Add to the story here..."></textarea>
          <input type="submit" value="Save"></input>
        {% endif %}
    </form>

  </body>

</html>