<!DOCTYPE html>

<html>

  <head>
    <title> HOME </title>
  </head>

  <body>
    <p>
      <form action="/logout">
        <input type="submit" value="Logout"></input>
      </form>
    </p>

    <h1>Hanabi - Powered by WeLoveTrees</h1>
    <br>
    <button>My Stories</button>
    <button>New Story</button>
    <button>My Stories</button>
    <button>Random!</button>
    <button>Most Popular</button>
    <br>
    <br>
    <h3>Search for existing stories here!</h3>
    <input type="text" name="search">
  
  </body>

</html>