<!DOCTYPE html>

<html>

  <head>
    <title> HOME </title>
  </head>

  <body>
    <p>
      <form action="/logout">
        <input type="submit" value="Logout"></input>
      </form>
    </p>

    <h1>Hanabi - Powered by WeLoveTrees</h1>
    <br>
    <form action="/create">
      <input type="submit" value="New Story"></input>
    </form>
    <button>My Stories</button>
    <form action="/random">
      <input type="submit" value="Random"></input>
    </form>
    <form action="/stories">
      <input type="submit" value="List of stories"></input>
    </form>
    <br>
    <br>
    <h3>Search for existing stories here!</h3>
    <input type="text" name="search">
  
  </body>

</html>