<!DOCTYPE html>
    <head>
        <title>Hanabi</title>
        <link rel="icon" href="images/unknown.png">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body style="background-color: white; margin: 0px; height: 100vh; width: 100vw;">
        <div style="background-color:brown; height: 55px; width: 100%;">
            <div style="height: inherit; width: auto; background-color: aqua; display: inline-flex;">
                <img src="images/logoish.png" style="height: inherit; width: auto;">
            </div>
        </div>
    </body>
</html>