<!DOCTYPE html>
    <head>
        <title>Hanabi - Login</title>
    </head>
    <body>
        <p> {{error}} </p>
        <form action="/home" method="post">
            <h1>Login</h1>
            <h3>Username</h3>
            <input class="auth" type="text" name="username">
            <!-- <p style="color: red;">Username Not Found!</p> -->
            <h3>Password</h3>
            <input class="auth" type="text" name="password">
            <!-- <p style="color: red;">Incorrect Password!</p> -->
            <br>
            <input class="auth" type="submit" name="sub0" value="login">
        </form>
    </body>
</html>