<!DOCTYPE html>

<html>

  <head>
    <title> USER </title>
  </head>

  <body>
    <p>
      <form action="/logout">
        <input type="submit" value="Logout"></input>
        <input type="submit" value="Back"></input>
      </form>
    </p>

    <h1>Hanabi - Powered by WeLoveTrees</h1>
    <h3>Current Projects</h3>
    <br>
    <!-- RENDER PREVIEW-->
    <p>
      {% for elements in range(0, leng)%}
      {{a[elements]}}
      <form action=/{{b[elements]}}>
        <input type="submit" value="Go to Story"></input>
      </form>
      <br>
      <br>
    {% endfor %}
    </p>
  </body>

</html>